.container-conteudo {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1px;
    width: 100%;
    height: 600px;
}

.backdor {
    background: black;
}

.img-details {
    width: 300px;
    height: 500px;
    border-radius: 9px;
    margin: 0 40px 0 40px;
}

.paragrafo-2 {
    color: rgb(160, 159, 159);
    font-size: 0.9rem;
    margin-top: -8px;
    font-weight: 300;
}

.tagLine {
    font-style: italic;
    color: rgb(188, 187, 187);
}

.sinope-context {
    width: 90%;
    color: white;
}

.elenco-container {
    border: 1px solid red;
    overflow-x: auto;
}

.elenco-conteudo {
    display: flex;
    overflow-x: auto;
}

.card-elenco {
    color: white;
    width: 160px;
    height: 280px;
    border: 1px solid yellow;
    border-radius: 8px;
    margin-right: 15px;
}

.card-elenco img {
    width: 160px;
    height: 180px;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;

}
