* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.geral {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #27272A;
}

.geral::-webkit-scrollbar {
    background-color: #47474E;
    border-radius: 9px;
}

.geral::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: #1B1B1E;
}